
@mixin price {
    background-color: $theme-color2;
    font-weight: 600;
    padding: 3px 6px;
    border-radius: 30px;
}

%order-button {
    background-color: $theme-color1;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 15px;
}

@mixin logo {
   
    font-size: 32px;

    p {
        font-family: $title-font;

        span:nth-child(1) {
            color: $theme-color1;
            font-family: $title-font;
        }

        span:nth-child(2) {
            color: $theme-color2;
            font-family: $title-font;
        }
    }
    
}

@mixin back {
    position: relative;

    .background {
        width: 50%;
        background-color: $theme-color1;
        position: absolute;
        top: 0px;
        bottom: 0px;
        right: 0px;
        z-index: -2;
    }   
}

@mixin basket-icon {
    background-color: white;
    color: black;
    padding: 4px;
    border-radius: 15px 15px 0px 15px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    @include hover;
}

@mixin hover {
    &:hover {
        transform: scale(1.1);    
    }
}